.app {
  width: 100%;
}

.app-header h1 {
  padding: 30px 5% 50px;
  font-size: 40px;
  background: #e9eee7;
  margin: 0 0 20px;
  color: #00679a;
}

#carousel {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  height: 225px;
}

#carousel li {
  list-style: none;
  width: 250px;
  height: 230px;
  display: inline-block;
  vertical-align: top;
  margin: 0 1%;
}

#carousel li img {
  width: 100%;
  height: 200px;
}

.button-wrapper {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
  background: #e9eee7;
}

.prev-next-button {
  /* no svg fallback */
  background: #0076a7;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
}

.previous{
  border-radius: 5px 0px 0px 5px;
  margin-right:5px;
}

.next{
  border-radius: 0px 5px 5px 0px;
}

.imgName {
  text-align: left;
  color: #00679a;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 15% auto 0;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .button-wrapper {
    margin: 0 auto;
  }

  #carousel li{
    width: 300px;
  }

  .prev-next-button {
    border: none;
    background: url("../images/arrow.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50% 0 0 50%;
    outline: none;
    background-color: #ffffffb5;
    background-position: 15px;
    background-size: 40%;
  }

  .previous {
    position: absolute;
    top: 33%;
    left: 3%;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }

  .next {
    position: absolute;
    top: 33%;
    right: 3%;
  }

  .button-text{
    display: none;
  }
}