.app {
  width: 100%;
}
.app-header h1{
  padding: 30px 5% 50px;
  font-size: 20px;
  background: #ccc;
  margin: 0 0 20px;
  color: #0076a7;
}
#carousel {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  height: 205px;
}
#carousel li {
  list-style: none;
  width: 250px;
  height: 210px;
  display: inline-block;
  vertical-align: top;
  margin: 0 1%;
}
#carousel li img {
  width: 100%;
}
.prev-btn{
  float: left;
}
.next-btn{
  float: right;
}